<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>T-blog!</title>
  <link rel="stylesheet" href=<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>


<body class-"d-flex flex-column h-100">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <h1 class="navbar-brand" href="#">T-blog</h1>


        {{#if loggedIn}}
        <a href="/" class="navbar-item is-hoverable pt-2">homepage</a>
        <a href="/dashboard" class="navbar-item is-hoverable pt-2">dashboard</a>
        <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">create post</a>
        <button id="logout" class="button is-danger">logout</button>
        {{else}}
        <a href="/" class="navbar-item is-hoverable pt-2">homepage</a>
        <a href="/login" class="button is-primary">login</a>
        {{/if}}
    </nav>
  </header>



  <main>
    {{{ body }}}
  </main>


  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <strong>T-blog!</strong> by <a href="https://github.com/jeff-follestad">Jeff
          Follestad</a>
        | Repository:
        <a href="https://github.com/jeff-follestad/t-blog"><i class="fab fa-github"></i></a> |
        <a href="jeffrey.follestad@gmail.com"><i class="far fa-envelope"></i></a>
      </p>
    </div>
  </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

</body>

</html>